<script>
google.setOnLoadCallback(function() {

    //initialize!
    YUI().use('bmp-page-rentburden', function(Y) {
      Y.BMP.Page.RentBurden.initializePage();
    });
  });

  CITIES_TO_CODES = <%=@cities_to_codes%>;
</script>
<div class="page-rentburden container">
  <!-- <h1>Explore Rent Burden</h1> -->
  <p class="main-description lead">This shows the <b>rent burdens*</b> of artists in comparison to other people living in  <strong><span class="location-name">The United States</span></strong>.</p>

  <div class="chart-and-comparison-controls">
    <div class="chart-column">
      <div class="main-chart-wrapper"></div>
      <cite>U.S. Census Bureau, American Community Survey Microdata 2009-2011, Processed by IPUMS and BFAMFAPhD.</cite>

    </div>
    <div class="comparison-controls">
      <h3>Compare</h3>
      <div class="comparison-chooser btn-group btn-group-vertical" data-toggle="buttons" >
         <label class="btn btn-primary active">
          <input type="radio" name="compareon" value="occp_artist_class">Art Occupation vs. Other Occupation
        </label>

        <label class="btn btn-primary">
          <input type="radio" name="compareon" value="fod1p"> Degree in Art vs. Other Degree 
        </label>
      </div>
      <a class="define-artist" href="/artistclasses">How do we define &ldquo;artist&rdquo;?</a>

      <div class="key">
        <dl class="">
        <dt>*Rent Burdened</dt><dd>Paying between 30% and 50% of household income on rent</dd>
        <dt>Severely Rent Burdened</dt><dd>Paying more than half of household income on rent</dd>
      </dl>
        
      </div>
    </div>
  </div>


  <h4>Filter the data to see rent burdens for different groups.</h4>

  <div class="filter-controls">

    <% facets = settings.facets %>
    <% facet_values = settings.facet_values %>

    <div class="filter filter-gender btn-group-vertical" data-toggle="buttons" 
      data-facet-name="<%=facets[:sex]%>">
        <label class="btn btn-default active">
          <input type="radio" name="sex" value="-1" checked> Both
        </label>

        <label class="btn btn-default">
          <input type="radio" name="sex" value="<%=facet_values[:sex][:male]%>"> Male
        </label>

        <label class="btn btn-default">
          <input type="radio" name="sex" value="<%=facet_values[:sex][:female]%>"> Female
        </label>
      </div>
      
      
      <div class="filter filter-ethnicity btn-group-vertical" data-toggle="buttons" data-facet-name="<%=facets[:race_hispan_simple]%>">
        <label class="btn btn-default active">
          <input type="radio" name="ethnicity" value="-1" checked> Any
        </label>

        <label class="btn btn-default">
          <input type="radio" name="ethnicity" 
          value="<%=facet_values[:race_hispan_simple][:white]%>"> White<sup>*</sup>
        </label>

        <label class="btn btn-default">
          <input type="radio" name="ethnicity" value="<%=facet_values[:race_hispan_simple][:black]%>"> Black<sup>*</sup>
        </label>

        <label class="btn btn-default">
          <input type="radio" name="ethnicity" value="<%=facet_values[:race_hispan_simple][:asian]%>"> Asian<sup>*</sup>
        </label>

        <label class="btn btn-default">
          <input type="radio" name="ethnicity" value="<%=facet_values[:race_hispan_simple][:hispanic]%>"> Hispanic
        </label>
        <small><sup>*</sup>non-hispanic</small>
      </div>


      <div class="filter filter-schl btn-group-vertical" data-toggle="buttons" data-facet-name="<%=facets[:education]%>">
        <label class="btn btn-default active">
          <input type="radio" name="schl" value="-1" checked> Any
        </label>

        <label class="btn btn-default">
          <input type="radio" name="schl" value="<%=facet_values[:education][:less_than_high_school]%>"> Less than High School
        </label>

        <label class="btn btn-default">
          <input type="radio" name="schl" value="<%=facet_values[:education][:completed_high_school]%>"> Completed High School
        </label>

        <label class="btn btn-default">
          <input type="radio" name="schl" value="<%=facet_values[:education][:some_college]%>"> Some College
        </label>

        <label class="btn btn-default">
          <input type="radio" name="schl" value="<%=facet_values[:education][:bachelors]%>"> Bachelor's Degree
        </label>

        <label class="btn btn-default">
          <input type="radio" name="schl" value="<%=facet_values[:education][:masters_or_higher]%>"> Master's or higher
        </label>
      </div>

       <div class="filter filter-city btn-group-vertical" data-toggle="buttons" data-facet-name="<%=facets[:city]%>">
        <label class="btn btn-default"><input type="radio" name="city" value="-1">All USA</label>
        <label class="btn btn-default active"><input type="radio" name="city" value="4610" checked>New York City</label>
        <label class="btn btn-default"><input type="radio" name="city" value="3730">Los Angeles, CA</label>
        <label class="btn btn-default"><input type="radio" name="city" value="1190">Chicago, IL</label>
        <label class="btn btn-default"><input type="radio" name="city" value="6290">San Francisco, CA</label>
        <label class="btn btn-default"><input type="radio" name="city" value="6430">Seattle, WA</label>
        <div class="other btn btn-default"><input type="text" placeholder="Other&hellip;"></div>
      </div>
      
  </div>
</div>
